<h2>{{title}}</h2>
{{#if result}}
{{#with result}}
<div class="container">
<form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Employee #</label>
      <input type="input" class="form-control" value="{{employeeNum}}" id="inputEmail4" placeholder="Employee #">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Employee Name</label>
      <input type="input" class="form-control" value="{{employeeName}}" id="inputPassword4" placeholder="Employee Name">
    </div>
  </div>
  <div class="form-group">
    <label for="inputAddress">DM</label>
    <input type="input" class="form-control" value="{{dm}}" id="inputAddress" placeholder="DM">
  </div>
  <div class="form-group">
    <label for="inputAddress2">Location</label>
    <input type="input" class="form-control" value="{{location}}" id="inputAddress2" placeholder="Location">
  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
      <label for="inputZip">Current Location</label>
      <input type="input" class="form-control" value="{{currentLocation}}" id="inputZip" placeholder="Current Location">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">City</label>
      <input type="input" class="form-control" value="{{city}}" id="inputCity" placeholder="City">
    </div>
    <div class="form-group col-md-6">
      <label for="inputState">State</label>
      <input type="input" id="inputState" value="{{state}}" class="form-control" placeholder="State">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputAddress">Work Type</label>
      <input type="input" class="form-control" value="{{workType}}" id="inputAddress" placeholder="Work Type">
    </div>
    <div class="form-group col-md-6">
      <label for="inputAddress2">Billable</label>
      <input type="input" class="form-control" value="{{billable}}" id="inputAddress2" placeholder="Billable">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
      <label for="inputCity">Equipment</label>
      <input type="input" class="form-control" value="{{equipment}}" id="inputCity" placeholder="Equipment">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
    <label for="inputAddress">Order #</label>
    <input type="input" class="form-control" value="{{orderNumber}}" id="inputAddress" placeholder="Order #">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputAddress2">Order Date</label>
      <input type="input" class="form-control" value="{{orderDate}}" id="inputAddress2" placeholder="Order Date">
    </div>
      <div class="form-group col-md-6">
        <label for="inputCity">Order Submitted</label>
        <input type="text" class="form-control" value="{{orderSubmitted}}" id="inputCity" placeholder="Order Submitted">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputAddress2">Start Date</label>
      <input type="number" class="form-control" value="{{startDate}}" id="inputAddress2" placeholder="State Date">
    </div>
      <div class="form-group col-md-6">
        <label for="inputCity">End Date</label>
        <input type="text" class="form-control" value="{{endDate}}" id="inputCity" placeholder="End Date">
    </div>
  </div>
  <div class="form-row">
    <textarea class="col-md-12">{{notes}}</textarea>
  </div>
  </div>
  <button class="btn btn-info"><a href="/admin/dashboard/mailItems/wt/{{_id}}" class="text-light">Regenerate Email</a></button>
  {{{detailsReturnBtn 'wt'}}}
</form>
</div>
{{/with}}
{{/if}}