{{!-- <script>Handlebars.registerPartial('createStoreForm', '../partials/createStore.hbs');</script> --}}
{{> createStore}}
<div id="storesList" class="">
  {{{successMessage "delete" storeDeleteStatus store}}}
  {{{successMessage "create" created store}}}
  {{{successMessage "updated" updated store}}}
<table class="table table-striped table-responsive-md">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Banner</th>
      <th scope="col">Store</th>
      <th scope="col">Delete Job</th>
    </tr>
  </thead>
  <tbody>
{{#each result}}
    <tr>

      <td scope="row">{{@key}}</td>
      <td scope="row">{{banner}}</td>
      <td scope="row">{{{makeLink "stores/editStore" _id 'primary' store}}}</td>
      <td scope="row">{{{makeLink "stores/removeStore" _id  'danger' 'Delete'}}}</td>
    </tr>
{{/each}}

</tbody>  
</table>
</div>
